<h3>Please peruse our wares and if theirs anything specfic your interested in, let us know with a comment!</h3>
<% if @products.any? %>
<% @products.each do |product| %>
<ul>
  <li><%= link_to product.name, product_path(product) %></li>
</ul>

<% end %>
<% else %>
<p>Oh no, our shelves are bare! Please return soon when we've restocked 😅</p>
<% end  %>

<% if current_user && current_user.admin? %>
<p><%= link_to "Create new product", new_product_path %></p>
<% else %>
<p>Sorry, you do not have the access required to add products</p>
<% end %>
