<div class="row">
<div class="col-1">
</div>
  <div class="col-9">



<h1>Three Most Recently Added Products</h1>

<% if @products.any? %>
<ul>
  <% @products.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>
<% else %>
<p>Product List is Empty</p>
<% end %>

  <p><%= link_to "Return to index", products_path %></p>
</div>
<div class="col-2">

</div>
</div>
